<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fmnx.oa.mapper.mailMapper.InmaillistMapper">
    <update id="deleteMailOutBox">
        update aoa_in_mail_list as m set m.mail_del =1 where m.mail_id in
        <foreach collection="mailIds" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>
    <update id="setMailOutBoxStar">
        <foreach collection="mailIds" item="map" separator=";" index="index">
            <foreach collection="map" separator="," index="key" item="value">
                update aoa_in_mail_list as m
                <set>
                    <choose>
                        <when test="value==1">
                            m.mail_star = 0
                        </when>
                        <when test="value==0">
                            m.mail_star = 1
                        </when>
                    </choose>
                </set>
                where m.mail_id = #{key}
            </foreach>
        </foreach>
    </update>
    <delete id="deleteDraftsBox">
        delete from aoa_in_mail_list
        where mail_id in
        <foreach collection="mailIds" item="item" index="index" separator="," open="(" close=")" >
         #{item}
        </foreach>
    </delete>

    <select id="findInMailListType" resultType="cn.fmnx.oa.contoller.mail.vo.MailTypeVO">
        select
        t.type_id,
        t.type_name
        from aoa_type_list as t
        where t.type_model = 'aoa_in_mail_list'
    </select>
    <select id="findMailStatus" resultType="cn.fmnx.oa.contoller.mail.vo.MailStatusVO">
        select
        s.status_id,
        s.status_name
        from aoa_status_list s
        where s.status_model = 'aoa_in_mail_list'
    </select>
    <select id="showMailOutBox" resultType="cn.fmnx.oa.contoller.mail.vo.MailOutBoxVO">
        select
        date_format(m.mail_create_time,'%Y-%m-%d %H:%i:%S') as mailCreateTime,
        m.mail_content as content,
        m.mail_title,
        m.mail_type,
        m.mail_push,
        case
            when m.mail_push = 0 then '邮件发送成功'
            when m.mail_push = 1 then '邮件投递失败'
        end  as mailPushName,
        m.mail_star as star,
        m.in_receiver as inReceiverId,
        m.mail_id,
        m.mail_status_id as mailStatusid,
        a.attachment_id as mailFileid,
        a.attachment_path as path
        from aoa_in_mail_list as m
        join aoa_attachment_list as a on a.attachment_id = m.mail_file_id
        <where>
            <if test="userId !=null">
                and m.mail_in_push_user_id = #{userId}
            </if>
            and m.mail_del <![CDATA[!=]]> 1
        </where>
        order by if(isnull(m.mail_create_time),0,1) ,m.mail_create_time desc
    </select>
    <select id="findUserNameById" resultType="java.lang.String">
        select user_name
        from aoa_user
        where user_id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="findMailOutBoxByLike" resultType="cn.fmnx.oa.contoller.mail.vo.MailOutBoxVO">
        select
        date_format(m.mail_create_time,'%Y-%m-%d %H:%i:%S') as mailCreateTime,
        m.mail_content as content,
        m.mail_title,
        m.mail_type,
        m.mail_push,
        case
        when m.mail_push = 0 then '邮件发送成功'
        when m.mail_push = 1 then '邮件投递失败'
        end  as mailPushName,
        m.mail_star as star,
        m.in_receiver as inReceiverId,
        m.mail_id,
        m.mail_status_id as mailStatusid,
        a.attachment_id as mailFileid,
        a.attachment_path as path
        from aoa_in_mail_list as m
       left join aoa_attachment_list as a on a.attachment_id = m.mail_file_id
        join aoa_type_list as t on t.type_id = m.mail_type
        join aoa_status_list as s on s.status_id =m.mail_status_id
        <where>
            <if test="userId !=null">
                and m.mail_in_push_user_id = #{userId}
            </if>
            <if test="condition !=null and condition !=''">
                and concat(ifnull(t.type_name,''),ifnull(s.status_name,''),ifnull(m.mail_title,''),ifnull(m.in_receiver_name,'')) like '%${condition}%'
            </if>
            and m.mail_del <![CDATA[!=]]> 1
        </where>
        order by if(isnull(m.mail_create_time),0,1) ,m.mail_create_time desc
    </select>
    <select id="findAllDraftsBox" resultType="cn.fmnx.oa.contoller.mail.vo.DraftsBoxVO">
        select
        date_format(m.mail_create_time,'%Y-%m-%d %H:%i:%S') as mailCreateTime,
        m.mail_content as content,
        m.mail_title,
        m.mail_type,
        m.in_receiver as inReceiverId,
        m.mail_id,
        m.in_receiver_name,
        m.mail_status_id as mailStatusid,
        a.attachment_id as mailFileid,
        a.attachment_path as path
        from aoa_in_mail_list as m
         left join aoa_attachment_list as a on a.attachment_id = m.mail_file_id
        <where>
            <if test="userId!=null">
                and m.mail_in_push_user_id = #{userId}
            </if>
            and m.mail_push = 1
            and m.mail_del = 0
        </where>
        order by if(isnull(m.mail_create_time),0,1) ,m.mail_create_time desc
    </select>
    <select id="findOneDraftsBox" resultType="cn.fmnx.oa.contoller.mail.vo.DraftsBoxVO">
        select
        date_format(m.mail_create_time,'%Y-%m-%d %H:%i:%S') as mailCreateTime,
        m.mail_content as content,
        m.mail_title,
        m.mail_type,
        m.in_receiver as inReceiverId,
        m.mail_id,
        m.in_receiver_name,
        m.mail_status_id as mailStatusid,
        a.attachment_id as mailFileid,
        a.attachment_path as path
        from aoa_in_mail_list as m
        left join aoa_attachment_list as a on a.attachment_id = m.mail_file_id
        <where>
            <if test="userId!=null">
                and m.mail_in_push_user_id = #{userId}
            </if>
            <if test="mailId !=null">
                and m.mail_id = #{mailId}
            </if>
            and m.mail_push = 1
            and m.mail_del = 0
        </where>
        order by if(isnull(m.mail_create_time),0,1) ,m.mail_create_time desc
    </select>
    <select id="findOneDraftsBoxByLike" resultType="cn.fmnx.oa.contoller.mail.vo.DraftsBoxVO">
        select
        date_format(m.mail_create_time,'%Y-%m-%d %H:%i:%S') as mailCreateTime,
        m.mail_content as content,
        m.mail_title,
        m.mail_type,
        m.in_receiver as inReceiverId,
        m.mail_id,
        m.in_receiver_name,
        m.mail_status_id as mailStatusid,
        a.attachment_id as mailFileid,
        a.attachment_path as path
        from aoa_in_mail_list as m
        join aoa_status_list as s on s.status_id = m.mail_status_id
        join aoa_type_list as t on t.type_id = m.mail_type
        left join aoa_attachment_list as a on a.attachment_id = m.mail_file_id
        <where>
            <if test="userId!=null">
                and m.mail_in_push_user_id = #{userId}
            </if>
            <if test="condition !=null">
                and concat(ifnull(m.mail_title,''),ifnull(m.in_receiver_name,''),ifnull(s.status_name,''),ifnull(t.type_name,'')) like '%${condition}%'
            </if>
            and m.mail_push = 1
            and m.mail_del = 0
        </where>
        order by if(isnull(m.mail_create_time),0,1) ,m.mail_create_time desc
    </select>
</mapper>