<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fmnx.oa.mapper.mailMapper.MailNumberMapper">
    <update id="deleteMailInBox">
       update aoa_mail_reciver m set m.is_del = 1 where m.mail_id in
       <foreach collection="mailIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
       </foreach>
    </update>

    <update id="setMailInBoxStar">
        <foreach collection="mailIds"  item="map" index="index"  separator=";" >
            <foreach collection="map" separator="," item="val" index="k" >
                update aoa_mail_reciver as m
                <set>
                <choose>
                    <when test="val ==1">
                        m.is_star =0
                    </when>
                    <when test="val ==0">
                        m.is_star =1
                    </when>
                </choose>
                </set>
                 where m.mail_id = #{k}
            </foreach>
        </foreach>
    </update>
    <update id="setMailInBoxRead">
        <foreach collection="mailIds" item="map" index="index" separator=";">
            <foreach collection="map" separator="," item="value" index="key">
                update aoa_mail_reciver as m
                <set>
                    <choose>
                        <when test="value == 0">
                            m.is_read = 1
                        </when>
                        <when test="value == 1">
                            m.is_read = 0
                        </when>
                    </choose>
                </set>
                where m.mail_id =#{key}
            </foreach>
        </foreach>
    </update>
    <select id="findMailByUserId" resultType="cn.fmnx.oa.contoller.mail.vo.MailAccountsVO">
        select
            mail.mail_number_id,
            mail.mail_account,
            date_format(mail.mail_create_time,'%Y-%m-%d %H:%i:%S') as mailCreateTime,
            mail.mail_type,
            mail.mail_user_name,
            mail.status
        from aoa_mailnumber as mail
        <where>
            <if test="userId !=null">
                and mail_num_user_id = #{userId}
            </if>
        </where>
    </select>
    <select id="findMailByLike" resultType="cn.fmnx.oa.contoller.mail.vo.MailAccountsVO">
        select
        mail.mail_number_id,
        mail.mail_account,
        date_format(mail.mail_create_time,'%Y-%m-%d %H:%i:%S') as mailCreateTime,
        mail.mail_type,
        mail.mail_user_name,
        mail.status
        from aoa_mailnumber as mail
        <where>
            <if test="userId !=null">
                and mail.mail_num_user_id = #{userId}
            </if>
            <if test="condition !=null and condition != ''">
                and mail.mail_user_name like '%${condition}%'
            </if>
        </where>
    </select>
    <select id="findMailNumType" resultType="cn.fmnx.oa.contoller.mail.vo.MailNumTypeVO">
        select
        t.type_id,
        t.type_name
        from aoa_type_list t
        where t.type_model = 'aoa_mailnumber'
    </select>
    <select id="findMailNumStatus" resultType="cn.fmnx.oa.contoller.mail.vo.MailNumStatusVO">
        select
        s.status_id,
        s.status_name
        from aoa_status_list s
        where s.status_model = 'aoa_mailnumber'
    </select>
    <select id="findMailUsers" resultType="cn.fmnx.oa.contoller.mail.vo.MailBooksVO">
        select
        u.user_id,
        u.eamil,
        u.user_name
        from aoa_user u
        <where>
            <if test="userId !=null">
                and u.user_id <![CDATA[!=]]> #{userId}
            </if>
        </where>
    </select>
</mapper>