<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fmnx.oa.mapper.statuSysMapper.StatuSysMapper">

    <select id="findAllStatusList" resultType="cn.fmnx.oa.contoller.menu.vo.StatusListVO">
        select
            s.status_id ,
            s.status_color,
            s.status_model,
            s.status_name,
            s.sort_value,
            s.sort_precent
        from aoa_status_list as s order by if(isnull(s.sort_value),1,0),s.sort_value asc
    </select>

    <select id="findStatusByNameOrModel" resultType="cn.fmnx.oa.contoller.menu.vo.StatusListVO">
        select
            s.status_id ,
            s.status_color,
            s.status_model,
            s.status_name,
            s.sort_value,
            s.sort_precent
        from aoa_status_list as s
        <where>
            <if test="nameOrModel != null and nameOrModel != ''">
                and concat(ifnull(s.status_model,""),ifnull(s.status_name,'')) like '%${nameOrModel}%'
            </if>
        </where>
        order by  if(isnull(s.sort_value),1,0),s.sort_value asc
    </select>
</mapper>